@import "tailwindcss";

@theme{
    --color-primary: #292929;
    --color-secondary: ;
    --color-third: #212121;
    --color-btnColor: ;
    --color-txtColor: #D6D2D2;
    --color-btnHoverColor: #1C261F;
    --color-txtHoverColor: ;
    --font-georgia: 'Georgia', 'serif';
    --font-roboto: 'Roboto', 'sans-serif';
}

.backgroundGradient{
    background: linear-gradient(45deg, #120F0F, #454444, #363535);
}

.btnHover{
    &:hover{
        scale: 102%;
        background-color: #3D3B3B;
        color: #8A8787;
        transition: all 0.3s ease-in-out;
    }
}